@import url("https://fonts.googleapis.com/css2?family=Festive&family=Tourney&display=swap");
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container::after {
  content: "";
  background: url(./assets/img/yodaback.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
  z-index: -1;
}

.container .top {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}

.top h1 {
  font-size: 2rem;
  font-family: "Tourney", cursive;
  color: #c0392b;
}

.container .body {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 0px 20px;
}

.container .body section {
  flex: 1;
  display: flex;
  flex-direction: column;
}
